@font-face { 
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("OpenSans"),
    url("../assets/fonts/OpenSans-Light.woff2") format("woff2"), 
    url("../assets/fonts/OpenSans-Light.woff") format("woff"); 
}
@font-face { 
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans"),
    url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"), 
    url("../assets/fonts/OpenSans-Regular.woff") format("woff"); 
}
@font-face { 
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("OpenSans"),
    url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff2"), 
    url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff"); 
} 

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'OpenSans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 15px 0;
  max-width: 1140px;
}

.header {
  padding: 30px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 52px;
}

.header__btn {
  margin-left: 52px;
}

.hero__content {
  max-width: 50%;
}