@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("OpenSans"),
    url("../assets/fonts/OpenSans-Light.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans"),
    url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("OpenSans"),
    url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff");
}

:root {
  --color-mercury: #e4e4e4;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'OpenSans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 15px 0;
  max-width: 1140px;
}

.header {
  padding: 30px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}

.header__nav-list {
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 52px;
}

.header__btn {
  margin-left: 52px;
}

.hero {
  padding: 100px;
}

.hero__content {
  max-width: 50%;
}

.services {
  padding-bottom: 160px;
  border-bottom: 1px solid var(--color-mercury);
}

.services__title {
  text-align: center;
}

.services__descr {
  margin-bottom: 54px;
  text-align: center;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.services__list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  max-width: 270px;
  overflow: hidden;
  text-align: center;
}

.articles__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.articles__list-item {
  display: flex;
  max-width: 570px;
  overflow: hidden;
}

.articles__list-content {
  padding: 23px 30px 38px;
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.clients__list-bottom {
  display: flex;
}

.contacts__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  display: flex;
  align-items: center;
}

.footer__rigth {
  display: flex;
  align-items: center;
}

.footer__nav-list {
  display: flex;
}

.footer__list-social {
  display: flex;
}
